<h1>Editing Book</h1>

<!--エラー-->
<% if @book.errors.any? %>
  <div class= "error">
    <h2><%= @book.errors.count %> error prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @book do |f| %>

  <div class= "text">
    <p>Title</p>
    <%= f.text_field :title %>
  </div>

  <div class= "text">
    <p>Body</p>
    <%= f.text_area :body %>
  </div>

  <div class= "action">
    <%= f.submit 'Update Book' %>
  </div>

<!--成功-->
  <div class= "successfully" >
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
  </div>

<% end %>

<%= link_to "Show", book_path %> |
<%= link_to "Back", '/books' %>